<% if @pagy.count > @pagy.items %>
<div class="mt-10">
  <%= pagy_nav(@pagy) %>
</div>
<% end %>
<hr />
<% if @pagy.count > @pagy.items %>
<div class="mt-10">
  <%= pagy_nav(@pagy) %>
</div>
<% end %>
<hr />
<br />
<% if @pagy.count > @pagy.items %>
<div class="mt-10">
  <%= pagy_nav(@pagy) %>
</div>
<% end %>
