<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="1collapse navbar-collapse flex justify-between items-center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% @tags.each do |tag| %>
        <li class="nav-item">
          <h5>
            <strong class="block font-medium mb-1">
              <a href="/tags/<%= tag.id %>",
              class="nav-link"><%= tag.name %></a>
            </strong>
          </h5>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
