<% if user_signed_in? %>
  <p>Welcome, <%= current_user.email %>!</p>
  <%= link_to "Sign out", destroy_user_session_path,
  method: :delete, data: { turbo_method: :delete } %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>
